<p>Hello,</p>
<p>Thank you for registering WeBudding as an artist! Looking forward to seeing your digital products.</p>
<p>To complete your registration, please enter the code below to verify your e-mail.</p>
<p>
    <p>{{code}}</p>
</p>

<p>If you didn’t request this, you can ignore this e-mail or let us know.</p>
<p>We, Budding Your Dream</p>
<p>WeBudding</p>